.detailsPage {
  display: flex;
  /* position: relative; */
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* .descriptionTitle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.authorDiv {
  position: absolute;
  top: 20;
  left: 5;
  right: 5;
  bottom: 0;
  margin: auto;
}

.coverDiv {
  position: absolute;
  top: 100px;
  left: 300px;
}

.descriptionParagraph {
  position: absolute;
}
*/
.bigContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.false {
  display: none;
}

.reviewForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.amazonButton {
  background-image: url("../images/512x512.png");
  background-repeat: no-repeat;
  background-color: black;
  background-size: 17vw;
  background-position-y: center;
  /* width: 300px; */
  background-position-x: center;
  width: 18vw;
  margin: 10em;
  height: 70px;
  border: 1 solid black;
  border-radius: 8px;
  /* background-size: 100%; To fill the dimensions of container (button), or */
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: -10em;
}

.reviewButton {
  margin-top: 10vh;
  width: 20vw;
  height: 10vh;
  justify-content: center;
  align-items: center;
  margin-left: 9em;
  border: grey 2px solid;
  border-radius: 5%;
  background-color: burlywood;
  font-weight: bold;
  color: black;
}

.floatContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .detailsPage {
    display: block;
  }

  .descriptionTitle {
    text-align: center;
  }

  .authorDiv {
    text-align: center;
  }

  .bigContainer {
    display: flex;
    flex-direction: row;
    margin-top: 14vh;
  }
  .coverDiv {
    flex: 1;
    width: 40vw;
    position: relative;
    max-width: 50%;

    /* justify-content: center; */
    /* overflow: hidden; */
  }

  img.coverImg {
    /* position: absolute;
    right: 0; */
    /* width: 40vw; */
    /* flex: 1; */

    margin: 11vw;
    margin-top: 0;
  }

  .floatContainer {
    flex: 2;
    max-width: 50%;
    flex-direction: column;
    /* float: right; */
    /* width: 50%; */
    justify-content: space-evenly;
    align-items: center;
    /* overflow: hidden; */
  }

  .descriptionParagraph {
    float: right;
    width: 39vw;
    max-width: fit-content;
    margin-top: -35vh;
    flex-wrap: wrap;
    margin-right: 5vw;
    padding-left: 2em;
  }

  .false {
    display: none;
  }

  /* button stuff from amazon */
  .amazonButton {
    background-image: url("../images/512x512.png");
    background-repeat: no-repeat;
    background-color: black;
    background-size: 17vw;
    background-position-y: center;
    /* width: 300px; */
    background-position-x: center;
    width: 18vw;
    margin: 10em;
    height: 70px;
    border: 1 solid black;
    border-radius: 8px;
    /* background-size: 100%; To fill the dimensions of container (button), or */
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: -10em;
  }

  .reviewButton {
    margin-top: 10vh;
    width: 20vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
    margin-left: 9em;
    border: grey 2px solid;
    border-radius: 5%;
    background-color: burlywood;
    font-weight: bold;
    color: black;
  }

  .reviewForm {
    display: flex;
    width: 40vw;
    height: 70vh;
    border: 2px solid grey;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
  }

  textarea {
    margin-top: 10em;
  }
}

.reviewsOnPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
